package {{$name}};

# ABSTRACT: {{$name}} isa blah-blah-blah..

use strict;
use warnings;
use 5.01001;
use Carp ();

# VERSION
# AUTHORITY


1; # End of {{$name}}

__END__

=pod

=encoding utf8

=head1 SYNOPSYS

=head1 DESCRIPTION

=head1 METHODS/SUBROUTINES

=head1 BUGS

=head1 SEE ALSO

=cut
